- cache ["fancy_login", FancyLogin::VERSION] do
  %div{style: 'display:none'}
    #loginbox.modalbox
      #loginbox-header.modal-header
        %h5{data: {app_name: @config.app_name}}
          = "Inicia sesión en #{@config.app_name}"
        %a.loginbox-close.close-btn{href: '#', rel: 'nofollow', title:"Cerrar"}
          %i.icon-error
      .login-content

        = render 'fancy_login/notifications'

        = render 'fancy_login/sign_in'
        = render 'fancy_login/sign_up'

    = render 'fancy_login/reset_password' if @config.user["has_reset_password"]
    = render 'fancy_login/confirm_account' if @config.user["has_confirmation"]